<div mat-dialog-title>
    <h1>Application Form</h1>
</div>
<form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="Ex. Karthik" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Ex. Macherla" formControlName="lastName">
      </mat-form-field>

   </div>

   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. test@gmail.com"formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

   </div>
<div class="row">
    <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Femal</mat-radio-button>
        <mat-radio-button value="others">Others</mat-radio-button>
      </mat-radio-group>
</div>
<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let val of Department" [value]="val" >{{val}}
           
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>College</mat-label>
        <mat-select formControlName="college">
          <mat-option *ngFor="let val of College" [value]="val" >{{val}}
           
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address" formControlName="address">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="City" formControlName="city">
      </mat-form-field>

</div>

</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'save'}}</button>
</div>
</form>
